# PlatformIO / STM32 build files
.pio/
.pioenvs/
.piolibdeps/
.clang_complete
.gcc-flags.json

# VSCode settings
.vscode/
!.vscode/extensions.json

# Compiled objects
*.o
*.elf
*.bin
*.hex
*.map

# Debug
*.dSYM/
*.su

# Temporary / backup
*.swp
*~
